<%= form_for(@timeline) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% @timeline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :assets %><br />
    <%= f.text_field :assets%>
  </div>
    <div class="field">
    <%= f.label :liability %><br />
    <%= f.text_field :liability%>
  </div>
    <div class="field">
    <%= f.label :income %><br />
    <%= f.text_field :income %>
  </div>
    <div class="field">
    <%= f.label :expenses %><br />
    <%= f.text_field :expenses %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
