<%= form_for(@timeline) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% @timeline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :options %><br />
    <%= f.text_field :options %>
  </div>
  <div class="field">
    <%= f.label :prediction %><br />
    <%= f.text_field :prediction %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :assets %><br />
    <%= f.text_field :assets, :value =>0 %>
  </div>
    <div class="field">
    <%= f.label :liability %><br />
    <%= f.text_field :liability, :value =>0 %>
  </div>
    <div class="field">
    <%= f.label :income %><br />
    <%= f.text_field :income, :value =>0 %>
  </div>
    <div class="field">
    <%= f.label :expenses %><br />
    <%= f.text_field :expenses, :value =>0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
