
<header>
<h1>
<%= image_tag("future.jpg") %>
  </h1>
  <div id="panel">
    <a id ="home_link" href="/home">Home</a>
    <a id ="signup_link" href="/signup">Sign Up</a>
  </div>
   <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</header>