<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
<script type="text/javascript"> google.load("jqueryui", "1.8.6"); </script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> Future Path </title>

<!-- CSS Files -->
<%= stylesheet_link_tag :all %>
<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>

<!-- Javascript Files -->

</head>

<div class="container">
<%= render 'layouts/header' %>
<body>
<%= yield %>
</body>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
